<?xml version="1.0" encoding="UTF-8"?>
<Configuration monitorInterval="60">
	<Properties>
		<Property name="log-path">logs</Property>
		<Property name="archive">${log-path}/archive</Property>
	</Properties>
	<Appenders>
		<Console name="Console-Appender" target="SYSTEM_OUT">
            <JSONLayout complete="false" compact="true" eventEol="true" properties="true"/>
		</Console>
	</Appenders>
	<Loggers>
		<Root level="info">
			<AppenderRef ref="Console-Appender" />
		</Root>
	</Loggers>
</Configuration>